
@media only screen and (min-width: 769px) {
  .main-header {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__logo-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }

    &__list {
      text-transform: uppercase;
      font-weight: $font-black;
      padding-top: 1.5em;
    }

    &__item {
      padding: .5em 0;
    }

    &__link {
      padding: .5em 0;
      color: $black;
    }

  }
}
